@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model LectureDetailsServiceModel

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
    </div>
</div><!-- End Breadcrumbs -->

<p></p>

<div class="row">

    @if(@Model.ResourceUrls.Count() == 0){
        <h2>There are no resources for this lecture at the moment.</h2>
    }

    @foreach (var resourceUrl in @Model.ResourceUrls)
    {
        <div class="col-md-4">
            <div class="card mb-3" style="width: 18rem;">
                @if (resourceUrl.EndsWith(".pptx"))
                {
                    <img src="~/pptxIcon.png" width="290" height="290" />
                }
                else if (resourceUrl.EndsWith(".pdf"))
                {
                    <iframe src="~/assets/resources/@resourceUrl" sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation" width="290" height="290">@resourceUrl</iframe>
                }
                else if (resourceUrl.EndsWith(".mp4"))
                {
                    <video width="290" height="290" controls>
                        <source src="~/assets/resources/@resourceUrl" type="video/mp4">
                    </video>
                }
                <div class="card-body">
                    <h5 class="card-title"><a href="~/@resourceUrl" frameborder='0'>@resourceUrl</a></h5>
                </div>
            </div>
        </div>
    }
</div>

<a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" class="btn btn-warning">Back to Lectures</a>

@if (User.IsInRole(LearnerRole))
{
    <a asp-controller="Comments" asp-action="CreateComment" asp-route-lectureId="@Model.Id" class="btn btn-primary">Leave a comment</a>
}

<a asp-controller="Comments" asp-action="AllComments" asp-route-lectureId="@Model.Id" class="btn btn-secondary">See all comments</a>




