@using E_LearningSystem.Services.Services.Lectures.Models
@model LectureDetailsServiceModel

 <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Lecture Details</h2>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
        </div>
    </div><!-- End Breadcrumbs -->


<p>@Model.Name</p>
<p>@Model.Description</p>


<div class="row">
    @foreach (var resourceUrl in @Model.ResourceUrls)
    {
        <div class="col-md-4">
            <div class="card mb-3" style="width: 18rem;">
                @if(resourceUrl.EndsWith(".pptx"))
                {
                    <img src="~/pptxIcon.png" width="290" height="290" />
                }
                else if (resourceUrl.EndsWith(".pdf"))
                {
                    <iframe src="~/@resourceUrl" sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation" width="290" height="290">@resourceUrl</iframe>
                }
                else if (resourceUrl.EndsWith(".mp4"))
                {
                    <video width="290" height="290" controls>
                        <source src="~/@resourceUrl" type="video/mp4">
                    </video>
                }
                <div class="card-body">
                    <h5 class="card-title"><a href="~/@resourceUrl" frameborder='0'>@resourceUrl</a></h5>
                </div>
            </div>
        </div>
    }
</div>

<a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" class="btn btn-success">Back to Lectures</a>

<a asp-controller="Comments" asp-action="CreateComment" asp-route-id="@Model.Id" class="btn btn-success">Leave a comment</a>





