@model IndexViewModel

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Learning Today,<br>Leading Tomorrow</h1>
        <h2>We are team of trainers that will give you the best knowledge in IT industry.</h2>
        <a asp-area="" asp-controller="Courses" asp-action="AllCourses" class="btn-get-started">Get Started</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>We are team of talented technical trainers ready to give you the best from the modern technologies.</h3>
                    <p class="fst-italic">
                        Our courses are in different categories: Programming, Networking and Algorithms.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Learn all about modern technologies.</li>
                        <li><i class="bi bi-check-circle"></i> Develop new skills and become part of the technology community.</li>
                        <li><i class="bi bi-check-circle"></i> Improve and be creative with us. Here you will learn everything you need as professional skills for the field in which you want to develop.</li>
                    </ul>                   
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.LearnersCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Students</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.CoursesCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Courses</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.TrainersCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Trainers</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose Us?</h3>
                        <p>
                            We are team of great professionals with passion for teaching. With our courses you will get the best from current IT tech industry.
                            Our main purpose is to teach you and to prepare you for the IT market. The courses that we offer are designed to give you 
                            the best knowledge that will help you to start job in IT industry.
                        </p>
                        <div class="text-center">
                            <a asp-area="" asp-controller="Home" asp-action="About" class="more-btn">Learn More<i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>The best trainers</h4>
                                    <p>Our trainers are great professionals and you can get best experianece from them.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Learning of new technologies</h4>
                                    <p>With us you will learn new technoligies which are part of today information revolution.
                                        You will learn the fundamentals of Programming, Networks and Algorithms. </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>We are family</h4>
                                    <p>You will get help from us in every moment that you need such.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Courses</h2>
                <p>Latest Courses</p>
            </div>

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                @if (Model.CoursesCount > 0)
                {
                    @foreach (var course in Model.LatestCourses)
                    {
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                            <div class="course-item">
                                <img src="~/assets/img/courses/@course.ImageUrl" class="img-fluid" alt="Course Image">
                                <div class="course-content">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4>@course.CategoryName</h4>
                                        <p class="price">$@course.Price</p>
                                    </div>

                                    <h3><a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Name</a></h3>
                                    <p>@course.Description</p>
                                    <div class="trainer d-flex justify-content-between align-items-center">
                                        <div class="trainer-profile d-flex align-items-center">
                                            <img src="~/assets/img/trainers/@course.Trainer.ProfileImageUrl" class="img-fluid" alt="">
                                            <span>@course.Trainer.FullName</span>
                                        </div>
                                        <div class="trainer-rank d-flex align-items-center">
                                            <i class="bx bx-user"></i>&nbsp;@(course.AssignedStudents == null ? 0 : @course.AssignedStudents)
                                            &nbsp;&nbsp;                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Course Item-->
                    }
                }
                else
                {
                     <h2>There are no registered courses in the system.</h2>
                }

            </div>

        </div>
    </section><!-- End Popular Courses Section -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Trainers</h2>
                <p>Our Top Trainers</p>
            </div>

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                @foreach (var trainer in Model.TopTrainers)
                {
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="~/assets/img/users/@trainer.ProfileImageUrl" class="img-fluid" width="300" height="300" alt="Trainer Profile Image">
                            <div class="member-content">
                                <h4>@trainer.FullName</h4>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section><!-- End Trainers Section -->

</main><!-- End #main -->